body {
	background: -webkit-linear-gradient(left, #414141, #111111);
}

#pseudoText {
  position: absolute;
  margin: 55px 81%;
}

/* Important styles */
#toggle {
  display: block;
  position: absolute;
  margin: 50px 85%;
}
#profilPicture {
	border-radius: 30px;
}
#profilPictureSetting {
  position: absolute;
  margin: 10% 55%;
  border-radius: 300px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}

/* menu appearance*/
#menu {
  position: absolute;
  color: #999;
  width: 130px;
  padding: 10px;
  margin: 95px 80%;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  text-align: left;
  border-radius: 4px;
  background: rgb(49, 49, 49);
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);
  /* just for this demo */
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
}
ul, li, li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
li a {
  padding: 5px;
  color: #e0e0e0;
  text-decoration: none;
  transition: all .2s;
}
li a:hover,
li a:focus {
  background: #919191;
  color: #fff;
}



#pseudoText-form {
  position: absolute;
  padding: 15px 0 0;
  margin: 10% 20%;
  width: 10%;
}

#pseudoText-input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #0e0e0e;
  outline: 0;
  font-size: 1.3rem;
  color: #222222;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
#pseudoText-input::placeholder {
  color: transparent;
}
#pseudoText-input:placeholder-shown ~ #pseudoText_label {
  font-size: 1.3rem;
  cursor: text;
  top: 30px;
}

#pseudoText_label{
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #0e0e0e;
}

#pseudoText-input:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #111111, #4b4b4b);
  border-image-slice: 1;
}
#pseudoText-input:focus ~ #pseudoText_label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #535353af;
  font-weight: 700;
}

/* reset input */
#pseudoText-input:required, #pseudoText-input:invalid {
  box-shadow: none;
}





input[type="checkbox"]{
	-webkit-appearance: none;
	visibility: hidden;
	display: none;
}

.mode-tick{
	position: absolute;
  margin: 18% 23%;
	display: inline-block;
	width: 60px;
	height: 30px;
	background: #313131;
	cursor: pointer;
	border-radius: 20px;
	overflow: hidden;
	transition: ease-in .5s;
  border-style: solid;
  border-width: 1px;
}

input[type="checkbox"]:checked ~ .mode-tick{
	background: #fff;
}

/******* Before Start *******/

.mode-tick:before{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	background: #fff;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	transition: .2s;
	transform: translateX(0px);
}

input[type="checkbox"]:checked ~ .mode-tick:before{
	transform: translateX(70px);
}

/******* Before End *******/
/******* After Start *******/

.mode-tick:after{
	content: '';
	position: absolute;
	top: 2px;
	right: 1px;
	background: #313131;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	transition: .2s;
	transform: translateX(-40px);
}

input[type="checkbox"]:checked ~ .mode-tick:after{
	transform: translateX(0px);
}
