body {
	background-color: #919191;
}

#pseudoText {
  position: absolute;
  margin: 55px 81%;
}

/* Important styles */
#toggle {
  display: block;
  position: absolute;
  margin: 50px 85%;
}
#profilPicture {
	border-radius: 30px;
}
#profilPictureSetting {
  position: absolute;
  margin: 10% 55%;
  border-radius: 300px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}

/* menu appearance*/
#menu {
  position: absolute;
  color: #999;
  width: 130px;
  padding: 10px;
  margin: 95px 80%;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  text-align: left;
  border-radius: 4px;
  background: rgb(49, 49, 49);
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);
  /* just for this demo */
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
}
ul, li, li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
li a {
  padding: 5px;
  color: #e0e0e0;
  text-decoration: none;
  transition: all .2s;
}
li a:hover,
li a:focus {
  background: #919191;
  color: #fff;
}


#color-form {
  position: absolute;
  margin-top: 5%;
  font-size: large;
}
#color-input {
  border-radius: 5px;
}
#buttonBack {
  width: 80px;
  height: 25px;
}
